{% extends "hostel2/base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'hostel2/alumni.css'%}">
<link rel="stylesheet" href="{% static 'hostel2/footer.css'%}">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head %}

{% block body %}
<h1 class="title">Testimonials</h1>
<section id="testim" class="testim">
<!--         <div class="testim-cover"> -->
            <div class="wrap">

                <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                <ul id="testim-dots" class="dots">
                    <li class="dot active"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li>
                </ul>
                <div id="testim-content" class="cont">
                {% for alumni in testimony%}
                    <div class="active">
                        <div class="img"><img src={{alumni.pic.url}} alt=""></div>
                        <h2>{{alumni.name}}</h2>
                        <p>{{alumni.content | safe}}</p>
                    </div>
                {% endfor %}
 
                </div>

            </div>
<!--         </div> -->
    </section>
<div >
    <h1 class="aditya">We would like to hear from you!</h1>
</div>
{% load crispy_forms_tags %}
<div style="background-color: white; margin-left: 10%; margin-right: 10%; padding: 2%; margin-top:0%; margin-bottom: 5%;">
  <div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Alumni Info</legend>
            {{ a_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sumbit</button>

        </div>
    </form>
  </div>
</div>
 <footer class="footer-distributed">

    <div class="footer-right">

        <a href="https://www.facebook.com/h2iitb" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/the_wild_ones_h2" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/hostel2iitbombay/" target="_blank"><i class="fa fa-linkedin"></i></a>
        

    </div>

    <div class="footer-left">

        <h1 class = "priyansh" > Hostel 2, IIT Bombay</h1>
        

        <p> &copy; Web Council 2020-2021</p>
    </div>

</footer>
<script type="text/javascript">
    // vars
'use strict'
var testim = document.getElementById("testim"),
        testimDots = Array.prototype.slice.call(document.getElementById("testim-dots").children),
    testimContent = Array.prototype.slice.call(document.getElementById("testim-content").children),
    testimLeftArrow = document.getElementById("left-arrow"),
    testimRightArrow = document.getElementById("right-arrow"),
    testimSpeed = 4500,
    currentSlide = 0,
    currentActive = 0,
    testimTimer,
        touchStartPos,
        touchEndPos,
        touchPosDiff,
        ignoreTouch = 30;
;

window.onload = function() {

    // Testim Script
    function playSlide(slide) {
        for (var k = 0; k < testimDots.length; k++) {
            testimContent[k].classList.remove("active");
            testimContent[k].classList.remove("inactive");
            testimDots[k].classList.remove("active");
        }

        if (slide < 0) {
            slide = currentSlide = testimContent.length-1;
        }

        if (slide > testimContent.length - 1) {
            slide = currentSlide = 0;
        }

        if (currentActive != currentSlide) {
            testimContent[currentActive].classList.add("inactive");            
        }
        testimContent[slide].classList.add("active");
        testimDots[slide].classList.add("active");

        currentActive = currentSlide;
    
        clearTimeout(testimTimer);
        testimTimer = setTimeout(function() {
            playSlide(currentSlide += 1);
        }, testimSpeed)
    }

    testimLeftArrow.addEventListener("click", function() {
        playSlide(currentSlide -= 1);
    })

    testimRightArrow.addEventListener("click", function() {
        playSlide(currentSlide += 1);
    })    

    for (var l = 0; l < testimDots.length; l++) {
        testimDots[l].addEventListener("click", function() {
            playSlide(currentSlide = testimDots.indexOf(this));
        })
    }

    playSlide(currentSlide);

    // keyboard shortcuts
    document.addEventListener("keyup", function(e) {
        switch (e.keyCode) {
            case 37:
                testimLeftArrow.click();
                break;
                
            case 39:
                testimRightArrow.click();
                break;

            case 39:
                testimRightArrow.click();
                break;

            default:
                break;
        }
    })
        
        testim.addEventListener("touchstart", function(e) {
                touchStartPos = e.changedTouches[0].clientX;
        })
    
        testim.addEventListener("touchend", function(e) {
                touchEndPos = e.changedTouches[0].clientX;
            
                touchPosDiff = touchStartPos - touchEndPos;
            
                console.log(touchPosDiff);
                console.log(touchStartPos); 
                console.log(touchEndPos);   

            
                if (touchPosDiff > 0 + ignoreTouch) {
                        testimLeftArrow.click();
                } else if (touchPosDiff < 0 - ignoreTouch) {
                        testimRightArrow.click();
                } else {
                    return;
                }
            
        })
}
</script>
{% endblock body %}

