{% extends "hostel2/base.html" %}


{% block head %}
{% load static %}

<link rel="stylesheet" href="{% static 'hostel2/alumni.css'%}">
<link rel="stylesheet" href="{% static 'hostel2/footer.css'%}">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head %}

{% block body %}
<h1 class="title">Testimonials</h1>
<section id="testim" class="testim">
<!--         <div class="testim-cover"> -->
            <div class="wrap">

                <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                <ul id="testim-dots" class="dots">
                    <li class="dot active"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li><!--
                    --><li class="dot"></li>
                </ul>
                <div id="testim-content" class="cont">
                    
                    <div class="active">
                        <div class="img"><img src="{%static "hostel2/images/arman.jpg"%}" alt=""></div>
                        <h2>Arman Khan</h2>
                        <p>"The late-night Chinese from the canteen, the adventurous Kalsubai hostel trek, the light-hearted moments at the wing, the cheering, the anti- cheering, the intense election atmosphere, these are all memories from the hostel that I would cherish for a lifetime.

                        Being an active member of the hostel council throughout my stay, I was grateful to witness the passion GCs brought, the creativity at PAF and the enthusiasm with which council members worked to bring their initiatives to life. A big Hi-Fi to these awesome hostelites!

                        For advice, I would encourage everyone to absorb the "wild spirit" into yourself while you stay at the hostel which means to go after what you desire, unafraid to take a stand and ready to face any obstacle fearless.
                        For like Roosevelt said, it is the "man in the arena" who counts and not anyone else.

                        Lots of love & All the Best. "</p>
                    </div>

                    <div>
                        <div class="img"><img src="{%static "hostel2/images/sarvind.jfif"%}" alt=""></div>
                        <h2>Sarvind Rankhawat</h2>
                        <p>"My wildest memories about the hostel are the celebrations of Ganapati and Holi. The one thing that I will really miss is the long meals in the mess, those who know me will understand what I mean.

                        GCs are something which I am deeply attached to, and finding a best moment was really tough, but there is one personal favorite. That was winning a GC final against H3 on my birthday during Fun2shh. A day full of action and celebration, with the best birthday present ever!

                        Of the many things that I learnt in my insti life, One thing that I would like to emphasize on is the importance of friends, and my advice to all juniors will be to get out of your virtual lives and socialise. You never know that the person living next door turns out to be the founder of next unicorn. There's a saying, "Insti is not a place, insti is people", so try to explore the real insti. "</p>
                    </div>

                    <div>
                        <div class="img"><img src="{%static "hostel2/images/arpit.jpg"%}" alt=""></div>
                        <h2>Arpit Shashwat</h2>
                        <p>"The hostel is like that beautiful serene railway station which comes during the train journey. If you are lucky enough, the train will stop there. You come out on the platform, you are mesmerized by the atmosphere but the train will eventually start and you have to get back on it. And while leaving the station you always hope to see that station again, but do you?

                        There are many things that I will miss about Hostel 2 but certainly, it will be the people, my friends, seniors, and juniors. The TV room which I always saw as the Theatre Room. We created many stories and characters there. And obviously that tree in the canteen open area whose branches touch the TV room windowpane.
                        Advice to my juniors is please try Matar Paneer Semi Gravy and Anda Paneer Franky. You won’t find it on the menu but I am sure you will definitely enjoy it."</p>
                    </div>

                    <div>
                        <div class="img"><img src="{%static "hostel2/images/ajinkya.jpg"%}" alt=""></div>
                        <h2>Ajinkya Shisode</h2>
                        <p>"I can't point one thing that I miss the most about the hostel since there are so many. It might sound cliché but whenever “Woh Din from Chhichhore” starts playing, it’s like a trip down memory lane and the nostalgia hits hard.

                        My favourite GC memory is the Crossy GC ’16. The reason being that I had to go to every floor of H16 and convince the freshers  to run for a hostel they didn’t even stay in. And I still remember, there were around 400 runners that day and out of which a whopping 150 ran for “The Wild Ones”. Trust me, it was the best feeling to see efforts generating the results.

                        People say  Insti culture shapes us, but I genuinely feel we are more close to the hostel culture. It has taught me that participation is more important than winning.

                        A simple advice to my juniors is that, try to connect with as many seniors as possible. Hostel life is incomplete without seniors."</p>
                    </div>

                    <div>
                        <div class="img"><img src="{%static "hostel2/images/divyanshu.jpg"%}" alt=""></div>
                        <h2>Divyanshu Chahal</h2>
                        <p>"Welcome to the 4 best years of your life.
                        I feel proud to be a wild one and never found even a single reason not giving 100 percent in any event that brought glory to the hostel.

                        I can never forget the late-night football matches, the hostel parties, auctions, the funny council meets, 10 people on a single mess table doing random bakchodi, Funtoosh, GC cheering, Crossy, sharing lives late at night, eating in canteen after GC matches & enjoying the game memories, election atmosphere, GPL, the bakchodi in the corridor


                        Whatever you do here will shape you in every way. You can’t connect the dots looking forward; you can only connect them looking backward. So you have to trust the dots will somehow connect in the future.

                        Just remember you are not defined by your failures or mistakes, you are defined by your intentions, once you realise this,  your life will be a lot better and you will one day make the Wild Ones proud."</p>
                    </div>

                </div>

            </div>
<!--         </div> -->
    </section>
<div >
    <h1 class="aditya">We would like to hear from you!</h1>
</div>
{% load crispy_forms_tags %}
<div style="background-color: white; margin-left: 15%; margin-right: 15%; padding: 2%; margin-top:0%; margin-bottom: 5%;">
  <div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Alumni Info</legend>
            {{ a_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sumbit</button>

        </div>
	</form>
  </div>
</div>
 <footer class="footer-distributed">

    <div class="footer-right">

        <a href="https://www.facebook.com/h2iitb" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/the_wild_ones_h2" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/hostel2iitbombay/" target="_blank"><i class="fa fa-linkedin"></i></a>
        

    </div>

    <div class="footer-left">

        <h1 class = "priyansh" > Hostel 2, IIT Bombay</h1>
        

        <p> &copy; Web Council 2020-2021</p>
    </div>

</footer>
<script type="text/javascript">
	// vars
'use strict'
var	testim = document.getElementById("testim"),
		testimDots = Array.prototype.slice.call(document.getElementById("testim-dots").children),
    testimContent = Array.prototype.slice.call(document.getElementById("testim-content").children),
    testimLeftArrow = document.getElementById("left-arrow"),
    testimRightArrow = document.getElementById("right-arrow"),
    testimSpeed = 4500,
    currentSlide = 0,
    currentActive = 0,
    testimTimer,
		touchStartPos,
		touchEndPos,
		touchPosDiff,
		ignoreTouch = 30;
;

window.onload = function() {

    // Testim Script
    function playSlide(slide) {
        for (var k = 0; k < testimDots.length; k++) {
            testimContent[k].classList.remove("active");
            testimContent[k].classList.remove("inactive");
            testimDots[k].classList.remove("active");
        }

        if (slide < 0) {
            slide = currentSlide = testimContent.length-1;
        }

        if (slide > testimContent.length - 1) {
            slide = currentSlide = 0;
        }

        if (currentActive != currentSlide) {
            testimContent[currentActive].classList.add("inactive");            
        }
        testimContent[slide].classList.add("active");
        testimDots[slide].classList.add("active");

        currentActive = currentSlide;
    
        clearTimeout(testimTimer);
        testimTimer = setTimeout(function() {
            playSlide(currentSlide += 1);
        }, testimSpeed)
    }

    testimLeftArrow.addEventListener("click", function() {
        playSlide(currentSlide -= 1);
    })

    testimRightArrow.addEventListener("click", function() {
        playSlide(currentSlide += 1);
    })    

    for (var l = 0; l < testimDots.length; l++) {
        testimDots[l].addEventListener("click", function() {
            playSlide(currentSlide = testimDots.indexOf(this));
        })
    }

    playSlide(currentSlide);

    // keyboard shortcuts
    document.addEventListener("keyup", function(e) {
        switch (e.keyCode) {
            case 37:
                testimLeftArrow.click();
                break;
                
            case 39:
                testimRightArrow.click();
                break;

            case 39:
                testimRightArrow.click();
                break;

            default:
                break;
        }
    })
		
		testim.addEventListener("touchstart", function(e) {
				touchStartPos = e.changedTouches[0].clientX;
		})
	
		testim.addEventListener("touchend", function(e) {
				touchEndPos = e.changedTouches[0].clientX;
			
				touchPosDiff = touchStartPos - touchEndPos;
			
				console.log(touchPosDiff);
				console.log(touchStartPos);	
				console.log(touchEndPos);	

			
				if (touchPosDiff > 0 + ignoreTouch) {
						testimLeftArrow.click();
				} else if (touchPosDiff < 0 - ignoreTouch) {
						testimRightArrow.click();
				} else {
					return;
				}
			
		})
}
</script>
{% endblock body %}