{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hostel 2, IIT Bombay</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'hostel2/navbar.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 {% block head %}
 {% endblock head %}

</head>

<body id="bg" >
<div class="navigation-wrap bg-lightx start-header start-style navfont">
   
      <div class="row leftrightadjust">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
              <img src="{%static "hostel2/h2logo.png"%}" width="50px">
            <a class="navbar-brand" style="color: #fff" href={% url 'base'  %}>The Wild Ones</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="{% url 'home_page' %}">Home</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="{% url 'legend' %}">Legends</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="{% url 'contactus' %}">Council</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hostel 2</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'blog-home' %}">Activities</a>
                    <a class="dropdown-item" href="{% url 'info-page' %}">Contracts</a>
                    <a class="dropdown-item" href="{% url 'alumni' %}">Alumni</a>
                  </div>
                </li>
                 {% if user.is_authenticated %}
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
              </ul>
            </div>
            
          </nav>    
        </div>
      </div>
  </div>

      <main role="main" class="container adjust" >
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            {% if messages %}
               {% for message in messages %}
                    </div class="alert alert-{{ message.tags}}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>
        </div>
      </main>
   {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div> 
        {% endfor %}
    {% endif %}
{% block body %}
{% endblock body %}
<script type="text/javascript">
  

/* Please ❤ this if you like it! */


(function($) { "use strict";

  $(function() {
    var header = $(".start-style");
    $(window).scroll(function() {    
      var scroll = $(window).scrollTop();
    
      if (scroll >= 10) {
        header.removeClass('start-style').addClass("scroll-on");
      } else {
        header.removeClass("scroll-on").addClass('start-style');
      }
    });
  });   
    
  //Animation
  
  $(document).ready(function() {
    $('body.hero-anime').removeClass('hero-anime');
  });

  //Menu On Hover
    
  $('body').on('mouseenter mouseleave','.nav-item',function(e){
      if ($(window).width() > 750) {
        var _d=$(e.target).closest('.nav-item');_d.addClass('show');
        setTimeout(function(){
        _d[_d.is(':hover')?'addClass':'removeClass']('show');
        },1);
      }
  }); 
  
  //Switch light/dark
  
  $("#switch").on('click', function () {
    if ($("body").hasClass("dark")) {
      $("body").removeClass("dark");
      $("#switch").removeClass("switched");
    }
    else {
      $("body").addClass("dark");
      $("#switch").addClass("switched");
    }
  });  
  
  })(jQuery); 
</script>
</body>
</html>

