{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hostel 2, IIT Bombay</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'hostel2/navbar.css'%}">
 {% block head %}
 {% endblock head %}

</head>

<body id="bg">
    <div class="nav mb-0 pr-1">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <a class="navbar-brand" style="color: white; ">The Wild Ones</a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div id="uncheck" class="nav-links ml-auto">
    <a class="text-primary mobile-view" ></a>
    <a href="{% url 'home_page' %}"  >Home</a>
    <a href="{% url 'legend' %}">Legends</a>
    <a href="{% url 'gallery' %}">Gallery</a>
    <a href="{% url 'alumni' %}">Alumni</a>
    <a  href="https://gymkhana.iitb.ac.in/~hostel2/certificate.php">E-Certificates</a>
    <a href="{% url 'contactus' %}">Council</a>
      {% if user.is_authenticated %}
      <a  href="{% url 'profile' %}">Profile</a>
      <a  href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a  href="{% url 'login' %}">Login</a>
      {% endif %}


</div>
</div>

   {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div> 
        {% endfor %}
    {% endif %}
{% block body %}
{% endblock body %}
</body>
</html>