{% extends "hostel2/base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'hostel2/style.css'%}">
<link rel="stylesheet" href="{% static 'hostel2/footer.css'%}">
{% endblock head %}

{% block body %}

<div class ="heading">
<h1>Hostel 2 Council 2020-21</h1>
<div class="dropdown2">
  <button class="dropbtn2">Older H2 Councils &#11206;</button>
  <div class="dropdown2-content">
  <a href="https://gymkhana.iitb.ac.in/~hostel2/council/">2019-2020</a>
  <a href="https://gymkhana.iitb.ac.in/~hostel2/council/index1.html">2018-2019</a>
  </div>
</div>
</div>


<div class="arrow">
<span class="previous round" onclick="plusSlides(-1)">&#10094;</span>
<span class="next round" onclick="plusSlides(1)">&#10095;</span>
</div>

{% for council_category in all_council_categories %}
<div class="mySlides myfade">
  <h2 class = {{council_category.headingstyle}}>{{council_category.category}}</h2>
{% for council in all_council %}
  {% if council.category == council_category %}
  {% if council.councillor %}
      <div class="row">
        <div class="columnX">
        <div class={{council.style}}>
        <img src="{{council.picture}}">
        <div class="container">
          <h2>{{ council.name }}</h2>
          <p class="title">&nbsp;{{council.post}}</p>
          <p style="font-size:20px; margin-bottom:5px;"><b>Email: &nbsp; {{council.email}}</b></p>
          <p style="font-size:20px; margin-bottom:5px;"><b>Phone No: &nbsp; {{council.contactno}}</b></p>
          <p style="font-size:20px; margin-bottom:5px;"><b>Room No: &nbsp; {{council.roomno}}</b></p>
          <div class="buttonbar">
            <button class="button"><a href="{{council.socialmedia}}"/> Contact </a></button>
            {% if council.manifestoExists %} 
            <button class="button">Manifesto</button>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
</div>
  {% elif council.left %}
      <div class="row">
        <div class="column">
        <div class={{council.style}}>
        <img src="{{council.picture}}">
        <div class="container">
          <h2>{{ council.name }}</h2>
          <p class="title">&nbsp;{{council.post}}</p>
          <p style="font-size:20px; margin-bottom:5px;"><b>Email: &nbsp; {{council.email}}</b></p>
          <p style="font-size:20px; margin-bottom:5px;"><b>Phone No: &nbsp; {{council.contactno}}</b></p>
          <p style="font-size:20px; margin-bottom:5px;"><b>Room No: &nbsp; {{council.roomno}}</b></p>
          <div class="buttonbar">
            <button class="button"><a href="{{council.socialmedia}}"/> Contact </a></button>
            {% if council.manifestoExists %} 
            <button class="button">Manifesto</button>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
  {% else %}
        <div class="column">
        <div class={{council.style}}>
        <img src="{{council.picture}}">
        <div class="container">
          <h2>{{ council.name }}</h2>
          <p class="title">&nbsp;{{council.post}}</p>
          <p style="font-size:20px; margin-bottom:5px;"><b>Email: &nbsp; {{council.email}}</b></p>
          <p style="font-size:20px; margin-bottom:5px;"><b>Phone No: &nbsp; {{council.contactno}}</b></p>
          <p style="font-size:20px; margin-bottom:5px;"><b>Room No: &nbsp; {{council.roomno}}</b></p>
          <div class="buttonbar">
            <button class="button"><a href="{{council.socialmedia}}"/> Contact </a></button>
            {% if council.manifestoExists %} 
            <button class="button"><a href="{{council.socialmedia}}"/> Manifesto </a></button>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
</div>
  {% endif %}
  {% endif %}
{% endfor %}
</div>
{% endfor %}



<div class="arrow">
<span class="previous round" onclick="plusSlides(-1)">&#10094;</span>
<span class="next round" onclick="plusSlides(1)">&#10095;</span>
<div style="text-align:center">
  <span class="dot2" onclick="currentSlide(1)"></span>
  <span class="dot2" onclick="currentSlide(2)"></span>
  <span class="dot2" onclick="currentSlide(3)"></span>
  <span class="dot2" onclick="currentSlide(4)"></span>
  <span class="dot2" onclick="currentSlide(5)"></span>
  <span class="dot2" onclick="currentSlide(6)"></span>
  <span class="dot2" onclick="currentSlide(7)"></span>
  <span class="dot2" onclick="currentSlide(8)"></span>
</div>
</div>

<footer class="footer-distributed">

    <div class="footer-right">

        <a href="https://www.facebook.com/h2iitb" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/the_wild_ones_h2" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/hostel2iitbombay/" target="_blank"><i class="fa fa-linkedin"></i></a>
        

    </div>

    <div class="footer-left">

        <h1 class = "priyansh" > Hostel 2, IIT Bombay</h1>
        

        <p> &copy; Web Council 2020-2021</p>
    </div>

</footer>
<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
  showSlides(slideIndex += n);
  }

  function currentSlide(n) {
  showSlides(slideIndex = n);
  location.href="contactus_test.html";
  }

  function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  var dots2 = document.getElementsByClassName("dot2");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
      dots2[i].className = dots2[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  dots2[slideIndex-1].className += " active";
  }
  </script>

{%  endblock body %}