{% extends "hostel2/base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'hostel2/style.css'%}">

{% endblock head %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-sticky navbar-dark mb-3" style="background:#062d4d; border-radius: 0.8em; top: 0.6vh; left: 0.6vw;
    z-index: 100; ">
        <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color:white;">
            <span class="navbar-toggler-icon" style="color:white;"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home_page' %}">Home</a>
                </li>
                <li id="dropdown2" class="nav-item dropdown2 ">
                    <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link" href="{% url 'legend' %}">Legends</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="https://gymkhana.iitb.ac.in/~hostel2/certificate.php">E-Certificates</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'contactus' %}">Council</a>
                </li>
            </ul>
        </div>
    </nav>
<div class ="heading">
<h1>Hostel 2 Council 2020-21</h1>
<div class="dropdown2">
  <button class="dropbtn2">Older H2 Councils &#11206;</button>
  <div class="dropdown2-content">
  <a href="#">2019-2020</a>
  <a href="#">2018-2019</a>
  </div>
</div>
</div>


<div class="arrow">
<span class="previous round" onclick="plusSlides(-1)">&#10094;</span>
<span class="next round" onclick="plusSlides(1)">&#10095;</span>
</div>

<div class="mySlides myfade">
  <h2 style="text-align:center; margin:2vw; color:gold; background-color:black; border: 2px solid gold;">Administration Body</h2>
<div class="row">
  <div class="column">
    <div class="card1">
        <img src="Pictures/Warden.jpg">
        <div class="container">
          <h2>PROF. R. SANDESH</h2>
          <p class="title">&nbsp;Warden</p>
          <p style="font-size:20px; margin-bottom:5px;"><b>Email: &nbsp; </b>sandesh.idc@iitb.ac.in</p>
          <p><button class="button"><a href="http://www.idc.iitb.ac.in/sandesh/bio.html"/> Contact </a></button></p>
        </div>
    </div>
  </div>

  <div class="column">
    <div class="card1">
      <img src="Pictures/AWarden.jpg">
      <div class="container">
        <h2>PROF. JAYAKRISHNAN U NAIR</h2>
        <p class="title">&nbsp;Associate Warden</p>
        <p style="font-size:20px; margin-bottom:5px;"><b>Email: &nbsp; </b>jayakrishnan.nair@ee.iitb.ac.in</p>
        <p><button class="button"><a href="https://www.ee.iitb.ac.in/web/faculty/homepage/jayakrishnan.nair"/> Contact </a></button></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="columnX">
    <div class="card1">
      <img src="Pictures/1.jpeg">
      <div class="container">
        <h2>RAJESH THORVE</h2>
        <p class="title">&nbsp;General Secretary</p>
        <p style="font-size:20px; margin-bottom:5px;"><b>Email: &nbsp; </b>gsech2@iitb.ac.in</p>
        <p style="font-size:20px; margin-bottom:5px;"><b>Phone No: &nbsp; </b>9518351175</p>
        <p style="font-size:20px; margin-bottom:5px;"><b>Room No: &nbsp; </b>146</p>
        <p><button class="button"><a href="https://www.facebook.com/rajesh.thorve.75"/> Contact </a></button></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="card1">
      <img src="Pictures/2.cr2">
      <div class="container">
        <h2>YASH PAGARE</h2>
        <p class="title">&nbsp;Warden Nominee</p>
        <p style="font-size:20px; margin-bottom:5px;"><b>Email: &nbsp; </b>wardnomh2@iitb.ac.in</p>
        <p style="font-size:20px; margin-bottom:5px;"><b>Phone No: &nbsp; </b>8329831528</p>
        <p style="font-size:20px; margin-bottom:5px;"><b>Room No: &nbsp; </b>224</p>
        <p><button class="button"><a href="https://www.facebook.com/yash.pagare.796"/>Contact</a></button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card1">
      <img src="Pictures/3.jpg">
      <div class="container">
        <h2>VIKASH AGRAWAL</h2>
        <p class="title">&nbsp;Events Nominee</p>
        <p style="font-size:20px; margin-bottom:5px;"><b>Email: &nbsp; </b>thevikashagrawal@gmail.com</p>
        <p style="font-size:20px; margin-bottom:5px;"><b>Phone No: &nbsp; </b>9587061350</p>
        <p style="font-size:20px; margin-bottom:5px;"><b>Room No: &nbsp; </b>254</p>
        <p><button class="button"><a href="https://www.facebook.com/VikashIITB"/>Contact</a></button></p>
      </div>
    </div>
  </div>
</div>
</div>





{% for council_category in all_council_categorys %}
<div class="mySlides myfade">
  <h2 style="text-align:center; margin:2vw; color:magenta; background-color:black; border: 2px solid magenta;">{{council_category.name}}</h2>
  {% for council in all_council %}
    {% if council.category == council_category %}
    
      {% if council.councillor %}
          <div class="row">
            <div class="columnX">

      {% else %}
          <div class="row">
            <div class="column">
      {% endif %}
    
      <div class="card2">
      <img src={{council.picture.url}}>
      <div class="container">
        <h2>{{ council.name }}</h2>
        <p class="title">&nbsp;{{council.post}}</p>
        <p style="font-size:20px; margin-bottom:5px;"><b>Email: &nbsp; </b>{{council.email}}</p>
        <p style="font-size:20px; margin-bottom:5px;"><b>Phone No: &nbsp; </b>{{council.contctno}}</p>
        <p><button class="button"><a href="https://www.facebook.com/profile.php?id=100006721627566"/>Contact</a></button></p>
      </div>
    </div>
  </div>
</div>
</div>
    {% endif %}
    {% endfor %}
{% endfor %}

<div class="arrow">
<span class="previous round" onclick="plusSlides(-1)">&#10094;</span>
<span class="next round" onclick="plusSlides(1)">&#10095;</span>
<div style="text-align:center">
  <span class="dot2" onclick="currentSlide(1)"></span>
  <span class="dot2" onclick="currentSlide(2)"></span>
  <span class="dot2" onclick="currentSlide(3)"></span>
  <span class="dot2" onclick="currentSlide(4)"></span>
  <span class="dot2" onclick="currentSlide(5)"></span>
  <span class="dot2" onclick="currentSlide(6)"></span>
  <span class="dot2" onclick="currentSlide(7)"></span>
  <span class="dot2" onclick="currentSlide(8)"></span>
</div>
</div>


<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
  showSlides(slideIndex += n);
  }

  function currentSlide(n) {
  showSlides(slideIndex = n);
  location.href="contactus.html";
  }

  function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  var dots2 = document.getElementsByClassName("dot2");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
      dots2[i].className = dots2[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  dots2[slideIndex-1].className += " active";
  }
  </script>

{%  endblock body %}