{% extends "hostel2/base.html" %}
 {% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'hostel2/gallery.css'%}">

 {% endblock head %}

{% block body %}

 <h1 class="title">Gallery</h1>

   <h3 style="text-align: center;" id="subhead">Fun2shh</h3>

   <section id="slider">
      <input type="radio" style="display: none;" name="slider" id="s8">
      <input type="radio" style="display: none;" name="slider" id="s9">
      <input type="radio" style="display: none;" name="slider" id="s10" checked>
      <input type="radio" style="display: none;" name="slider" id="s11">
      <input type="radio" style="display: none;" name="slider" id="s12">
      <input type="radio" style="display: none;" name="slider" id="s13">
      <input type="radio" style="display: none;" name="slider" id="s14">
      <label for="s8" id="slide8"></label>
      <label for="s9" id="slide9"></label>
      <label for="s10" id="slide10"></label>
      <label for="s11" id="slide11"></label>
      <label for="s12" id="slide12"></label>
      <label for="s13" id="slide13"></label>
      <label for="s14" id="slide14"></label>
   </section>


   <h3 style="text-align: center;" id="subhead">Sports</h3>
   <section id="slider">
      <input type="radio" style="display: none;" name="slider" id="s1">
      <input type="radio" style="display: none;" name="slider" id="s2">
      <input type="radio" style="display: none;" name="slider" id="s3">
      <input type="radio" style="display: none;" name="slider" id="s4" checked>
      <input type="radio" style="display: none;" name="slider" id="s5">
      <input type="radio" style="display: none;" name="slider" id="s6">
      <input type="radio" style="display: none;" name="slider" id="s7">
      <label for="s1" id="slide1"></label>
      <label for="s2" id="slide2"></label>
      <label for="s3" id="slide3"></label>
      <label for="s4" id="slide4"></label>
      <label for="s5" id="slide5"></label>
      <label for="s6" id="slide6"></label>
      <label for="s7" id="slide7"></label>

   </section>




   <h3 style="text-align: center;" id="subhead">Festivals</h3>
   <section id="slider">
      <input type="radio" style="display: none;" name="slider" id="s15">
      <input type="radio" style="display: none;" name="slider" id="s16">
      <input type="radio" style="display: none;" name="slider" id="s17" checked>
      <input type="radio" style="display: none;" name="slider" id="s18">
      <input type="radio" style="display: none;" name="slider" id="s19">
      <input type="radio" style="display: none;" name="slider" id="s20">
      <input type="radio" style="display: none;" name="slider" id="s21">
      <label for="s15" id="slide15"></label>
      <label for="s16" id="slide16"></label>
      <label for="s17" id="slide17"></label>
      <label for="s18" id="slide18"></label>
      <label for="s19" id="slide19"></label>
      <label for="s20" id="slide20"></label>
      <label for="s21" id="slide21"></label>
   </section>


   <h3 style="text-align: center;" id="subhead">Gala</h3>
   <section id="slider">
      <input type="radio" style="display: none;" name="slider" id="s22">
      <input type="radio" style="display: none;" name="slider" id="s23">
      <input type="radio" style="display: none;" name="slider" id="s24">
      <input type="radio" style="display: none;" name="slider" id="s25" checked>
      <input type="radio" style="display: none;" name="slider" id="s26">
      <input type="radio" style="display: none;" name="slider" id="s27">
      <input type="radio" style="display: none;" name="slider" id="s28">
      <label for="s22" id="slide22"></label>
      <label for="s23" id="slide23"></label>
      <label for="s24" id="slide24"></label>
      <label for="s25" id="slide25"></label>
      <label for="s26" id="slide26"></label>
      <label for="s27" id="slide27"></label>
      <label for="s28" id="slide28"></label>
   </section>






{% endblock body %}
