{% extends "hostel2/base.html" %}
 {% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'hostel2/homenew.css'%}">
<link rel="stylesheet" href="{% static 'hostel2/text.css'%}">
 {% endblock head %}


{% block body %}

<div class="hero">
  <div class="parallax-layer layer-6"></div>
  <div class="parallax-layer layer-5"></div>
  <div class="parallax-layer layer-4"></div>
  <div class="parallax-layer bike-1"></div>
  <div class="parallax-layer bike-2"></div>
  <div class="parallax-layer layer-3"></div>
  <div class="parallax-layer layer-2"></div>
  <div class="parallax-layer layer-1"></div>
</div>



<marquee direction="right" style="color: cornsilk;">Updates : <a style="color: aliceblue;" href="">Click here to check the latest IPL Fanatasy League.</a></marquee>

<div class="container">
  <div class="animate two">
    <span>a</span><span>b</span><span>o</span><span>u</span><span>t</span> &nbsp;
    <span>u</span><span>s</span>
    </div>
</div>
    <p style=
      "color: aliceblue;
      font-family: Adobe Caslon Pro, Hoefler Text, Georgia, Garamond, Times, serif: letter-spacing:0.1em;text-align:center;
margin: 20px auto;
text-transform: lowercase;
line-height: 145%;
font-size: 14pt;
font-variant: small-caps;"> Here at Hostel 2, IIT Bombay, you will never find the enthusiasm go down.<br>We take pride in being 'The Wild Ones' and each one of us contributes in making the hostel <br> a better place to live in and making it successful in all aspects.
   <br>
    We believe that 'Inside all of us is a Wild One'!</p>
<br>
    <!--- Footer -->
    <footer>
        <p style="text-align: center; font-weight: bolder;">&copy; 2020 <strong><em><a href="#" style="font-weight: bolder;">Hostel 2, IIT Bombay.
        </a></em></strong> </p>
    </footer>





{% endblock body %}