{% extends "hostel2/base.html" %}
{% block head %}
{% load static %}
    <title>Information page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'hostel2/info.css'%}">

{% endblock head %}

{% block body %}

<h1 id="headx"> Contract and Constitution</h1>
    <div class="for-center">
      <div class="jumbotron jumbotron-fluid">

      <div class="container">

        <div class="row">
        <div class="col-md-4 col-12">
          <div class="font-weight-bolder text-wrap heading" style="text-overflow: auto; text-align: center;">
            PHO Contract
          </div>
          <a href="{%static "information/pdf_files/sample.pdf"%}"><img src="{%static "hostel2/images/pho.png"%}" width="60%" style="border-radius: 10px;" alt="Complaint_image"></a>
          <br>
          <div class="description">The constitution has been written to safeguard the best interests of the hostel. It is an attempt to enable those who are here today and those who will arrive tomorrow to respect, preserve and propagate all the honored traditions. </div>
          <br>
        </div>
        <div class="col-md-4 col-12">
          <div class="font-weight-bolder text-wrap heading" style="text-overflow: auto; text-align: center;">
            Mess Contract
          </div>
          <a href="{%static "information/pdf_files/T38_TEST_PAGES.pdf"%}"><img src="{%static "hostel2/images/mess.png"%}" width="60%" style="border-radius: 10px;" alt="Guest_image"></a>
          <br>
          <div class="description">The constitution has been written to safeguard the best interests of the hostel. It is an attempt to enable those who are here today and those who will arrive tomorrow to respect, preserve and propagate all the honored traditions. </div>
          <br>
        </div>
        <div class="col-md-4 col-12">
          <div class="font-weight-bolder text-wrap heading" style="text-overflow: auto; text-align: center;">
            Constitution
          </div>
          <a href="{%static "information/pdf_files/sample-pdf-10-mb.pdf"%}"><img src="{%static "hostel2/images/constitution.jpg"%}" width="60%" style="border-radius: 10px;" alt="Constitution_image"></a>
          <br>
          <div class="description">The constitution has been written to safeguard the best interests of the hostel. It is an attempt to enable those who are here today and those who will arrive tomorrow to respect, preserve and propagate all the honored traditions. </div>
          <br>
        </div>
      </div>

    </div>
  </div>
  </div>

{% endblock body %}