{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hostel 2, IIT Bombay</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'hostel2/button.css'%}">
<link rel="stylesheet" href="{% static 'hostel2/stylesmoke.css'%}">
</head>
<body id="bg">
<div id="bg">

      <h1 style="color: yellow; font-family: 'Luckiest Guy', cursive; font-size: 5rem;text-align: center;">
        <img src="{% static 'hostel2/icon.jpeg' %}" width="80" height="80" >
        <span>T</span>
        <span>H</span>
        <span>E</span> &nbsp;
        <span>W</span>
        <span>I</span>
        <span>L</span>
        <span>D</span> &nbsp;
        <span>O</span>
        <span>N</span>
        <span>E</span>
        <span>S</span>

<br>
<br>
        <div class="buttons">
                <a href="{% url 'home_page' %}" class="btn effect01" ><span>Home</span></a>
            </div>
          </div>

      </h1>


    </div>


</body>
</html>





