
{% extends "hostel2/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'users/login.css'%}">


 {% endblock head %}

{% block body %}
  <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">


                    <h3 id="form-title">Reset Password</h3>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method="POST" action="">
                    {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">

                            </div>
                                    <fieldset class="form-group aditya">

            {{ form|crispy }}
        </fieldset>
                        </div>


                            <div class="d-flex justify-content-center mt-3 login_container">
                                <input class="btn login_btn" type="submit" value="Request Password Reset">
                            </div>
                    </form>

                </div>


                </div>
            </div>
        </div>


{% endblock %}