{% extends "hostel2/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'users/profile_new.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">

<h1 id="head"> Profile</h1>
<div class="container"  >
    <div class= "main-body" >
    
          
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card1" style="background-color: #e5ffe1;">
                <div class="card-body" >
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{user.profile.image.url}}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{user.username}}</h4>
                      <p  style="font-weight: bolder; text-align: center;">{{user.profile.year}}<br>
                      {{user.profile.department}}</p>
                      
                      <button style="background-color:aqua; border-radius: 0.25rem; "><a href="{% url 'profile_update' %}">Edit Profile</a></button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body" style="background-color: #ffd2d2; border-radius: 0.5rem;">
                  <div class="row">
                    <div class="col-sm-4 ">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-8 " >
                      {{user.username}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4 ">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-8 ">
                      {{ user.email }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4 ">
                      <h6 class="mb-0">Roll Number</h6>
                    </div>
                    <div class="col-sm-8 " >
                      {{ user.profile.roll_no }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4 ">
                      <h6 class="mb-0">GC Participation</h6>
                    </div>
                    <div class="col-sm-8 " >
                      {{ user.profile.gc_participation }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4 ">
                      <h6 class="mb-0">Awards</h6>
                    </div>
                    <div class="col-sm-8 " >
                      {{ user.profile.awards }}
                    </div>
                  </div>
                  <hr>
                  
                  <div class="row">
                    <div class="col-sm-4 ">
                      <h6 class="mb-0">Room No.</h6>
                    </div>
                    <div class="col-sm-8 " >
                      {{ user.profile.room_no }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body" style="border-radius: 0.5rem; background-color: #efe7fb;">
                      <h6  style="text-align: center; font-weight: bolder;">Interests</h6>
                      <p >(Select your interest by editing your profile)</p>
                      <div class="dropdownx">
                        <button class="dropbtnx">Sports</button>
                        <div class="dropdownx-content">
                          {% for i in user.profile.interests_sports %}
                            <a href="#">{{i}}</a>
                          {% endfor %}
                        </div>
                      </div>
<br>
<br>

                      
                        <div class="dropdownx">
                            <button class="dropbtnx">Culturals</button>
                            <div class="dropdownx-content">
                          {% for i in user.profile.interests_cult %}
                            <a href="#">{{i}}</a>
                          {% endfor %}

                            </div>
                          </div>
<br>
<br>

                          <div class="dropdownx">
                            <button class="dropbtnx" >Tech</button>
                            <div class="dropdownx-content">
                          {% for i in user.profile.interests_tech %}
                            <a href="#">{{i}}</a>
                          {% endfor %}

                            </div>
                          </div>

                        
                     
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body" style="background-color: #fdffd9; border-radius: 0.5rem;">
                      <h6 style="text-align: center; font-weight: bolder;">E-Certificate</h6>
                      <div style="text-align: center;">
                      <button ><a href="{{ user.profile.e_certificate_1.url }}" target="_blank">Certificate 1</a></button>
                      <br>
                      <button ><a href="{{ user.profile.e_certificate_2.url }}" target="_blank">Certificate 2</a></button>
                      <br>
                
                      <button ><a href="{{ user.profile.e_certificate_3.url }}" target="_blank">Certificate 3</a></button>
                      <br>
                      <button ><a href="{{ user.profile.e_certificate_4.url }}" target="_blank">Certificate 4</a></button>
                      <br>
                      <button ><a href="{{ user.profile.e_certificate_5.url }}" target="_blank">Certificate 5</a></button>
                      
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>



 {% endblock body %}