  
{% extends "hostel2/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}

  <link rel="stylesheet" type="text/css" href="{% static 'users/profile.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">

<div class="container"> <section class="profile_container">
  <div class="profile_img_section">
    <img class="profile_img-LG" src="{{ user.profile.image.url }}" />
  </div>

  <div class="profile_desc_section">
    <h2 style="font-weight: bolder; font-family: 'Acme', sans-serif; font-size: 50px; color: white; text-shadow: 3px 3px 3px rgb(9, 240, 240);">Hi, {{ user.username }}</h2>
    <h3 style="font-weight: bolder; color: white;"><b>Email: &nbsp; </b>{{ user.email }}</h3>
    <h3 style="font-weight: bolder; color: white;"><b>Roll No: &nbsp; </b>{{ user.profile.roll_no }}</h3>
    <h3 style="font-weight: bolder; color: white;"><b>Room No: &nbsp; </b>{{ user.profile.room_no }}</h3>
    <h3 style="font-weight: bolder; color: white;"><b>GC Participation: &nbsp; </b>{{ user.profile.gc_participation }}</h3>
    <h3 style="font-weight: bolder; color: white;"><b>Interests: &nbsp; </b></h3>
    <h3 style="font-weight: bolder; color: white;">&nbsp;
      {% for i in user.profile.interests %}
       <div style="padding: 8px; background-color: aqua; display: inline; color: rgb(0, 32, 32); border-radius: 6px; font-size: 24px;">
        {{ i }}
       </div>  &nbsp;
      {% endfor %}
    </h3>
    <h3 style="font-weight: bolder; color: white;"><b>Awards: &nbsp; </b>{{ user.profile.awards }}</h3>
    <h3 style="font-weight: bolder; color: white;"><b>E-certificates: &nbsp; </b>
      <a href="{{ user.profile.e_certificates.url }}" target="_blank" style="padding: 0%;">
        <img style="width: 50px; height: 50px;" src="/media/awards_1.jpg" />
      </a>
    </h3>
    <hr>
    <a class="btn btn-outline-danger" style="background-color: red; color: white; margin-left: 6rem; margin-right: 6rem;" href="{% url 'profile_update' %}">Edit Profile</a>
  </div>
  </div>
 

 {% endblock body %}