body{
    
    color: #1a202c;
    text-align: left;
    background-color: rgba(30,30,30);    
}
.main-body {
    padding: 15px;
    margin-top: 30px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    text-align: center;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .5rem;
}

.card-body {
    flex: 1 1 auto;
    
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
/* Dropdown Button */
.dropbtnx {
    background-color :#81d82e;
    color:black;
    width: 110px;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-color: indigo;
    border-radius: 0.5rem;
    position: relative;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdownx {
    position: relative;
    display: inline-block;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdownx-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdownx-content a {
    color: black;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdownx-content a:hover {background-color:transparent;}
  
  /* Show the dropdown menu on hover */
  .dropdownx:hover .dropdownx-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdownx:hover .dropbtnx {background-color: greenyellow;}