  
* {
     box-sizing: border-box;
     text-align: center;
     align-items: center;
   }

   #bg{
	background: rgba(30,30,30);
   }

 #headx {
         text-align: center;
         color: #ff9063;
         font-size: 3rem !important;
         text-shadow: 3px 3px #353535;
         font-family: 'Yeon Sung', cursive;
      }


.description{
  color: #42f5ef;
}

.jumbotron{
  background: #212F3C !important;
}

.heading{
  font-size: 2em;
  color: #e5f233;
}

/* .Mainline{
  padding-top: 10px;
  font-family: 'Rubik Mono One', sans-serif;
  border-radius: 5px;
  color: #e5f233;
} */

.for-center{
  margin-top: 60px;
}