  
* {
     box-sizing: border-box;
     text-align: center;
     align-items: center;
   }

   #bg{
	background: rgba(30,30,30);
   }

   #head {
      text-align: center;
      color: #ff9063;
      font-size: 6vw ;
      font-family: 'Yeon Sung', cursive;
      text-shadow: 3px 3px #353535;
}
    @media screen and (max-width: 770px) {

      #head{
      font-size: 8vw;
      }
    }

        @media screen and (max-width: 600px) {

      #head{
      font-size: 9vw;
      }
    }

.description{
  color: #42f5ef;
}

.jumbotron{
  background: #212F3C !important;
}

.heading{
  font-size: 2em;
  color: #e5f233;
  font-family: 'Fredoka One', cursive;
}

/* .Mainline{
  padding-top: 10px;
  font-family: 'Rubik Mono One', sans-serif;
  border-radius: 5px;
  color: #e5f233;
} */

.for-center{
  margin-top: 60px;
}