@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
 * {
      box-sizing: border-box;
      text-align: center;
      align-items: center;
    }

    #bg {
      background-image: url("Images/bg.jpg");
      background-position: center;
      background-size: cover;
      background-attachment: fixed;

    }

    #head {
      text-align: center;
      color: #ff9063;
      font-size: 6vw ;
      font-family: 'Luckiest Guy', cursive;
      text-shadow: 3px 3px #353535;


    }

    #subhead {
      font-family: cursive;
      color: yellow;
      font-weight: bold;
      font-size: 2vw;

    }

    .button {
      display: inline-block;
      padding: 15px 25px;
      width: 30%;
      font-size: 20px;
      cursor: pointer;
      text-align: auto;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
      position: relative;
      top: 10px;




    }

    .button:hover {
      background-color: #3e8e41
    }

    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }


    .overlay1,
    .overlay2,
    .overlay3,
    .overlay4,
    .overlay5,
    .overlay6,
    .overlay7,
    .overlay8,
    .overlay9 {

      display: none;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      z-index: 200;
      backdrop-filter: blur(5px);
      position: absolute;
    }

    .expanded {
      background-color: darksalmon;
      color: white;
      position: relative;
      top: 5%;
      width: 50%;
      left: 25%;
      text-align: center;
      padding: 10px;
      border-radius: 15px;
    }

    @media screen and (max-width: 862px) {
      .button {
        width: 50%;
        padding: 10px 20px;
      }
      #subhead{
      font-size:3vw;
      }
      #head{
      font-size: 8vw;
      }
    }




    @media screen and (max-width: 485px) {
      .expanded {
        padding: 5px;
        width: 70%;
        left: 15%;
        font-size: 15px;
      }
       .button {
        width: 70%;
        padding: 5px 15px;
      }
      #head{
      font-size: 10vw;
      }
    }

    @media screen and (max-width: 350px) {
       .button {
        width: 90%;
        padding: 5px 15px;
      }

      .expanded {
        padding: 3px;
        width: 70%;
        left: 15%;
        font-size: 10px;
      }
      #subhead{
      font-size:4vw;
      }

    }


