@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');



a, a:link, a:visited {
  text-decoration: none;
  padding: 4px 10px;
  border: 1px solid #ececec;
  border-radius: 5px;
  color: gray;
}


a.repeat {
  display: inline-block;
  font-size: 12px;
  text-transform: none;
  text-decoration: none;
  color: orange;
  padding: 5px 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: normal;
  margin: 0 0 0 40px;
  border-radius: 3px;
  position: relative;
  bottom: 1px;
}

a.repeat:hover {
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

      /*---Navigation Bar Style---*/

  .nav-item {
        padding-left: 10px;
        padding-right: 10px;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        }

        .nav-link {
            font-size: 15px;
            display: block;
            padding: .5rem 1rem;
            font-weight: 600;
            border-bottom: greenyellow;
            border-radius: 0.7em;
            color: white !important;
        }

        .navbar-nav .nav-link {
            padding-right: 0;
            padding-left: 0;
        }

        .nav-link:hover {
          background: greenyellow !important;
          color: white;
          border-color: greenyellow;
        }

        .dropdown2:hover>.dropdown-content {
            position: relative;
            display: block;
            padding: 0.2em;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #0F111B ;
            top: 10px;
            left: 40px;
            z-index: 1;
            padding-top: 0;
            min-width: 120px;
            border: rgb(1, 173, 237) solid 1.5px;
            box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.75);
        }

        @media (max-width: 991px){
        .dropdown-content {
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }
}