body
{
  background-image: url(Images/Among_trees_8.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
html {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.heading h1{
  text-align: center;
  text-shadow: 3px 3px #353535;
  font-family: 'Yeon Sung', cursive !important;
  font-weight: lighter;
  font-size: 5vw;
  color: #ff9063;
  padding-left: 1px;
  padding-right: 1px;
  display: inline-block;
  margin: 0 0 0 11%;
}


p{
  margin-top: 0px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.columnX
{
  margin:auto;
  width: 50%;
  padding: 20px 20px;
}
.column {
  float: left;
  width: 50%;
  padding: 20px 20px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
  .columnX {
    width: 100%;
    display: block;
  }
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 3px solid gold;
  padding: 10px;
  background-color:rgb(40, 40, 40);
  color: gold;
  transition: 0.2s ease-in-out;
}
.card1 img
{
  height: 200px;
  width: 200px;
  float: left;
  border-radius: 500px;
  border: 3px solid black;
  margin: 20px;
  transition: 0.2s ease-in-out;
}
.card1:hover,.card2:hover,.card3:hover,.card4:hover,.card5:hover,.card6:hover,.card7:hover,.card8:hover
{
  border: 3px solid moccasin;
  box-shadow: 20px 20px 12px 0 rgba(0, 0, 0, 0.5);
}
.card1:hover img, .card2:hover img,.card3:hover img,.card4:hover img,.card5:hover img,.card6:hover img,.card7:hover img,.card8:hover img{
  border: 3px solid moccasin;
}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 3px solid black;
  padding: 10px;
  background-color: #A9CCE3;
}
.card3 img
{
  height: 200px;
  width: 200px;
  float: left;
  border-radius: 500px;
  border: 3px solid black;
  margin: 20px;
}
.card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 3px solid black;
  padding: 10px;
  background-color: #A2D9CE;
}
.card4 img
{
  height: 200px;
  width: 200px;
  float: left;
  border-radius: 500px;
  border: 3px solid black;
  margin: 20px;
}
.card5 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 3px solid black;
  padding: 10px;
  background-color:#5DADE2;
}
.card5 img
{
  height: 200px;
  width: 200px;
  float: left;
  border-radius: 500px;
  border: 3px solid black;
  margin: 20px;
}
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 3px solid black;
  padding: 10px;
  background-color: #D2B4DE ;
}
.card2 img
{
  height: 200px;
  width: 200px;
  float: left;
  border-radius: 500px;
  border: 3px solid black;
  margin: 20px;
}
.card7 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 3px solid black;
  padding: 10px;
  background-color:#85C1E9 ;
}
.card7 img
{
  height: 200px;
  width: 200px;
  float: left;
  border-radius: 500px;
  border: 3px solid black;
  margin: 20px;
}
.card6 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 3px solid black;
  padding: 10px;
  background-color:#82E0AA;
}
.card6 img
{
  height: 200px;
  width: 200px;
  float: left;
  border-radius: 500px;
  border: 3px solid black;
  margin: 20px;
}
.card8 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 3px solid black;
  padding: 10px;
  background-color: #45B39D;
}
.card8 img
{
  height: 200px;
  width: 200px;
  float: left;
  border-radius: 500px;
  border: 3px solid black;
  margin: 20px;
}
@media screen and (max-width: 1078px) and (min-width: 650px), (max-width: 532px){
  .card1 img,.card2 img,.card3 img,.card4 img,.card5 img,.card6 img,.card7 img,.card8 img
  {
     float: none;
     display:block;
     margin:auto;
  }
}
.container {
  padding: 0px 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 40px;
}
.buttonbar{
  display: flex;
  width: 100%;
}
.button {
  font-family: Arial;
  font-weight: bolder;
  font-size: 1em;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: 7.5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 7.5px;
  border-radius: 5px;
}

.button:hover {
  background-color: #555;
}

.mySlides {display: none}

.dot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0vw 1vw 1vw 0vw;
  background-color: lightgrey;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  vertical-align: middle;
}
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 3vw 1vw 3vw 0vw;
  background-color: lightgrey;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  vertical-align: middle;
}


.myfade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.arrow{
  /*background-image: url(Pictures/X2a.jpg), url(Pictures/X3a.jpg);
  background-position: left,right;
  background-color: black;
  background-repeat: no-repeat,no-repeat;
  background-size: contain;
  color: white;*/
  border-radius: 200px;
}
.next:hover, .previous:hover {
  background-color: grey;
  color: black;
}
.previous {
  text-decoration: none;
  display: inline-block;
  padding: 17px 25px;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 3vh;
  margin-bottom: 2vh;
  background-color: lemonchiffon;
  color: black;
  margin-left: 2vw;
  vertical-align: middle;
}

.next {
  text-decoration: none;
  display: inline-block;
  padding: 17px 25px;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 3vh;
  margin-bottom: 2vh;
  background-color: lemonchiffon;
  color: black;
  float: right;
  margin-right: 2vw;
  vertical-align: middle;
}

.round {
  border-radius: 50%;
}

.dropdown2:hover>.dropdown-content {
    position: relative;
    display: block;
    padding: 0.2em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0F111B ;
    top: 10px;
    left: 40px;
    z-index: 1;
    padding-top: 0;
    min-width: 120px;
    border: rgb(1, 173, 237) solid 1.5px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.75); 
}
@media (max-width: 991px){
.dropdown-content {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
}
.dropbtn2 {
  background-color: black;
  color: white;
  padding: 30px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown2 {
  position: relative;
 float: right;
}

 .heading{
    background-color: black;
    border-top: 2px solid lightcyan;
    border-bottom: 2px solid lightcyan;
    border-radius: 4px;
    background-image: url(Pictures/icon2.png);
    background-position: 1vw -2vh;
    background-repeat: no-repeat;
    background-size: 7em;
    text-align: center;
    vertical-align: middle;
 }

.dropdown2-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown2-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown2-content a:hover {background-color: lemonchiffon;}

.dropdown2:hover .dropdown2-content {
  display: block;
}

.dropdown2:hover .dropbtn2 {
  background-color: rgb(80,80,80);
}
@media screen and (max-width:955px)
{
  .dropbtn2 {
    padding: 16px;
   }
    .dropdown2
    {
      float:none;
      display: inline-block;
    }
  }
@media screen and (max-width: 1050px){
  .heading{
   background-image: none; 
}
}
@media screen and (max-width:500px)
{
  .heading h1{
    font-size: 8vw;

  }
}
@media screen and (max-width:855px){
  .heading h1{
    margin: 0 0 0 0 !important;
  }
}

.adminstyle
{
    font-size: 40px;
  font-family: 'Oswald' !important;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 7.5px;
  text-align:center; padding:0px ; 
  margin:2vw; color: gold; 
  background-color:black; 
  border: 2px solid gold; 
  line-height: 1.5 !important;
}
.webstyle
{
    font-size: 40px;
  font-family: 'Oswald' !important;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 7.5px;
  text-align:center; padding:0px ; 
  margin:2vw; color: #D2B4DE; 
  background-color:black; 
  border: 2px solid #D2B4DE; 
  line-height: 1.5 !important;
}
.techstyle
{
   font-size: 40px;
  font-family: 'Oswald' !important;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 7.5px;
  text-align:center; padding:0px ; 
  margin:2vw; color: #A9CCE3; 
  background-color:black; 
  border: 2px solid #A9CCE3; 
  line-height: 1.5 !important;
}
.maintstyle
{
   font-size: 40px;
  font-family: 'Oswald' !important;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 7.5px;
  text-align:center; padding:0px ; 
  margin:2vw; color: #5DADE2; 
  background-color:black; 
  border: 2px solid #5DADE2; 
  line-height: 1.5 !important;
}
.messstyle
{
   font-size: 40px;
  font-family: 'Oswald' !important;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 7.5px;
  text-align:center; padding:0px ; 
  margin:2vw; color: #A2D9CE; 
  background-color:black; 
  border: 2px solid #A2D9CE; 
  line-height: 1.5 !important;
}
.sportsstyle
{
   font-size: 40px;
  font-family: 'Oswald' !important;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 7.5px;
  text-align:center; padding:0px ; 
  margin:2vw; color: #82E0AA; 
  background-color:black; 
  border: 2px solid #82E0AA; 
  line-height: 1.5 !important;
}
.cultstyle
{
   font-size: 40px;
  font-family: 'Oswald' !important;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 7.5px;
  text-align:center; padding:0px ; 
  margin:2vw; color: #85C1E9; 
  background-color:black; 
  border: 2px solid #85C1E9; 
  line-height: 1.5 !important;
}
.eventstyle
{
   font-size: 40px;
  font-family: 'Oswald' !important;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 7.5px;
  text-align:center; padding:0px ; 
  margin:2vw; color: #45B39D; 
  background-color:black; 
  border: 2px solid #45B39D; 
  line-height: 1.5 !important;
}