body{
	margin: 0;
	padding: 0;
}
section{
	height: 100vh;
	background: #000;
}
#bg{
    background-image: url("Images/collage12.png");
         background-position: center;
         background-size: cover;
         background-attachment: fixed;
  }
video{
	object-fit: cover;
}
h1{
	margin: 0;
	padding: 0;
	position: absolute;;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;;
	color: #ddd;
	font-size: 5em;
	font-family: serif;
        font-style : italic;
	letter-spacing: 0.01em;
}
h1 span{
	opacity: 0;
	display: inline-block;
	animation: animate 1s linear forwards;
}
@keyframes animate{
	0%
	{
		opacity: 0;
		transform: rotate(90deg);
		filter:blur(10px);
	}
	100%
	{
		opacity: 1;
		transform: rotate(0deg);
		filter: blur(0px);
	}
}
h1 span:nth-child(1)
{
	animation-delay: 1s;
}
h1 span:nth-child(2)
{
	animation-delay: 1.15s;
}
h1 span:nth-child(3)
{
	animation-delay: 1.30s;
}
h1 span:nth-child(4)
{
	animation-delay: 1.45s;
}
h1 span:nth-child(5)
{
	animation-delay: 1.6s;
}
h1 span:nth-child(6)
{
	animation-delay: 1.75s;
}
h1 span:nth-child(7)
{
	animation-delay: 1.90s;
}
h1 span:nth-child(8)
{
	animation-delay: 2.05s;
}
h1 span:nth-child(9)
{
	animation-delay: 2.45s;
}
h1 span:nth-child(10)
{
	animation-delay: 2.60s;
}
h1 span:nth-child(11)
{
	animation-delay: 2.75s;
}
h1 span:nth-child(12)
{
	animation-delay: 2.95s;
}

.buttons {
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
/*   padding: 2em 0em; */
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #FFF;
  padding:  40px 0px;
  width: 240px;
}

h1 {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  margin: 0 0 0.4em;
  font-size: 1em;
}

p {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  margin: 0 0 2em;
}


.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  line-height: 55px;
  max-width: 180px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #FFF;
  border: 4px solid #666;
  box-shadow:0px 0px 0px 1px #666 inset;
  background-color: #0b9e12;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #666;
  background-color: orange;
  box-shadow:0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span{
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background:white;
  border: 0px solid #666;
  content: "";
  height: 200px;
  left: -50px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: orange;
  border: 20px solid #666;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}